<div class="card">
    <div class="card-body">
        <div *ngIf="messages?.length === 0">
            No DMs yet... hit some people up!
        </div>
        <ul *ngIf="messages?.length > 0" class="chat">
            <li *ngFor="let m of messages">
                <div>
                    <span class="chat-img float-right">
                        <img src="{{m.senderPhotoUrl || './assets/user.png'}}" alt="{{m.senderUsername}}" class="rounded-circle">
                    </span>
                    <div class="chat-body">
                        <div class="header">
                            <small class="text-muted">
                                <span class="fa fa-clock-o"> {{m.messageSent | timeago}}</span>
                                <span class="text-danger" *ngIf="!m.dateRead && m.senderUsername !== username">
                                    (not read)
                                </span>
                                <span class="text-success" *ngIf="m.dateRead && m.senderUsername !== username">
                                    (read {{m.dateRead | timeago}})
                                </span>
                            </small>
                        </div>
                        <p>{{m.content}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <form (ngSubmit)="sendMessage()" #messageForm="ngForm" autocomplete="off">
            <div class="input-group">
                <input 
                    name="messageContent"
                    required
                    type="text" 
                    class="form-control input-sm" 
                    placeholder="Send a DM" 
                    [(ngModel)]="messageContent">
                <div class="input-group-append">
                    <button class="btn btn-primary btn-sm" type="submit" [disabled]="!messageForm.valid">
                        <i class="fa fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>