<form (ngSubmit)="register()" [formGroup]="registerForm" autocomplete="false">
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <div class="container">
        <app-text-input [formControl]="registerForm.controls['username']" [label]="'Username'"></app-text-input>
        <app-text-input [formControl]="registerForm.controls['knownAs']" [label]="'Nick Name'"></app-text-input>
        <div class="form-group">
            <label class="control-label">I identify as:</label>
            <label class="radio-inline">
                <input type="radio" value='female' formControlName="gender" class="ml-3"> Woman
            </label>
            <label class="radio-inline">
                <input type="radio" value='male' formControlName="gender" class="ml-3"> Man
            </label>
            <label class="radio-inline">
                <input type="radio" value='non-binary' formControlName="gender" class="ml-3"> Non-binary
            </label>
        </div>
        <app-date-input [formControl]="registerForm.controls['dateOfBirth']" [label]="'Date of Birth (18+ only)'" [maxDate]="maxDate"></app-date-input>
        <app-text-input [formControl]="registerForm.controls['city']" [label]="'City'"></app-text-input>
        <app-text-input [formControl]="registerForm.controls['country']" [label]="'Country'"></app-text-input>
        <app-text-input [formControl]="registerForm.controls['password']" [label]="'Password'" [type]="'password'">
        </app-text-input>
        <app-text-input [formControl]="registerForm.controls['confirmPassword']" [label]="'Confirm Password'"
                        [type]="'password'"></app-text-input>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-success mr-2">
                Register
            </button>
            <button (click)="cancel()" type="button" class="btn btn-secondary mr-2">
                Cancel
            </button>
        </div>
    </div>
</form>

<p>Form value: {{registerForm.value | json}}</p>
<p>Form value: {{registerForm.status | json}}</p>