.dropdown-toggle,
.dropdown-item {
    cursor: pointer;
}

a {
    text-decoration: none;
}

nav {
    background-color: rgba(255, 255, 255, 0.1);
}

img {
    max-height: 50px;
    display: inline;
    clip-path: circle(25px at center);
}