<h4>Doh! Internal server error.</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <h4>Here's what to do:</h4>
    <ol>
        <li>Open Dev Tools</li>
        <li>Go to the Network tab</li>
        <li>Identify the failing request</li>
        <li>Ensure the request URL is correct</li>
        <li>Reproduce the error in Postman (if reproducible, then issue is not w/ Angular)</li>
    </ol>
    <p>Stack Trace:</p>
    <code class="mt-3">{{error.details}}</code>
</ng-container>